<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      You just signed up for <%= @app_name %>.  Please follow
      this link to confirm this is your email address.
    </p>
    <p><%= @url %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
