<div class="container">
  <div class="center jumbotron">
    <h1>Welcome <%= @user.name -%></h1>
    <h3 style="color: #0000FF;">Thank you for joining.  We just need to confirm your email address, then you can begin exploring.  Please check your email, as you should receive a message from us shortly. Just follow the links in the message.</h3>
  </div>
</div>

